.background {
  background: center no-repeat url(https://i.imgur.com/0GLR2JH.jpg);
}

.logo {
  background-image: url(https://i.imgur.com/msQoxiA.png);
}

.progressBar {
  background-color: rgb(77, 0, 255);
}

.splash {
  background-image: url(https://i.imgur.com/msQoxiA.png);
}

